/database/geoip_db
/files
/node_modules
/public/hot
/public/storage
/public/nginx.conf

/public/tempVideo
/public/ffmpeg.exe
/public/ffprobe.exe
/public/uploads

/public/upload
/public/ffmpeg.exe
/public/ffprobe.exe
/public/tempVideo

/public/temp/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
index.php

/resources/metronic/node_modules/
/js_apps/public/admin_assets
/public/admin_assets/
/public/js_apps_assets/
